.about {
  /* align-items: center; */
  /* background-color: #b5c7c3; */
  /* display: flex; */
  /* font-family: 'Bellota Text', cursive; */
  height: 700px;
  /* justify-content: center; */
  /* width: 100% ; */
}

/* .img-article {
  height: 350px;
  width: 300px;
} */

.about-me {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  height: 300px;
}
