.contato {
  align-items: center;
  background-color: rgb(181, 199, 195);
  display: flex;
  flex-direction: column; 
  font-family: 'Bellota Text', cursive;
  padding: 10px;
  width: 100%;
}

.inputs {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.inputForm {
  border: 1px solid gray;
  border-radius: 6px;
  font-family: 'Bellota Text', cursive;
  height: 30px;
  margin: 5px;
  padding: 8px;
  width: 60%;
}

.textAreaForm {
  border: 1px solid gray;
  border-radius: 6px;
  font-family: 'Bellota Text', cursive;
  padding: 8px;
  width: 54%;
}

.buttonForm {
  border: 1px solid gray;
  height: 30px;
  margin-top: 10px;
  width: 100px;
}

.buttonForm:hover {
  background-color: #555555;
  color: white;
  cursor: pointer;
}